language: node_js

node_js: stable

before_install:
  - openssl aes-256-cbc -K $encrypted_3668b259ddc5_key -iv $encrypted_3668b259ddc5_iv -in travis_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
  - eval $(ssh-agent)
  - ssh-add ~/.ssh/id_rsa
  - git config --global user.name "talpachen"
  - git config --global user.email "talpachen@gmail.com"

install:
  - npm install

script:
  - hexo clean
  - hexo generate
  - hexo deploy

branches:
  only:
    - hexo  #只监测hexo分支，hexo是我的分支的名称，可根据自己情况设置


